<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <form action="{% url 'login_user' %}" method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Login">
    </form>
    {% if success_message %}
        <script>
            alert("{{ success_message }}");
        </script>
    {% endif %}
</body>
</html>
